<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>
<p>
  <%= @article.body %>
</p>

<%= render 'comments_list', article: @article %>
<%= render 'comment_form', article: @article %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
